/* struttura generale */

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/natural-pattern.png);
}

#contenitore{
  width: 70%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

a {
text-decoration: none;
color: green;
}

/* header */

.logotop {
  background-image: url(../img/natural-header.jpg);
  text-align: center;
  background-size: cover;
  border: 10px solid white;
}

.logotop img {
width: 50%;
padding-top: 50px;
}

.logotop h2 {
  margin-bottom: 60px;
  font-family: 'Noto Serif SC', serif;
  color: white;
  text-transform: uppercase;
}

/* barra navigazione */

.navbar {
list-style-type: none;
text-align: center;
background-color: grey;
}

.barra .navbar li {
  display: inline-block;
  padding: 0 10px;
}

.barra .navbar li a {
line-height: 50px;
font-family: 'Noto Serif SC', serif;
text-transform: uppercase;
color: white;
}
