/* struttura generale */

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/natural-pattern.png);
}

#contenitore {
  width: 70%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

a {
text-decoration: none;
color: green;
}

/* header */

.logotop {
  background-image: url(../img/natural-header.jpg);
  text-align: center;
  background-size: cover;
  border: 10px solid white;
}

.logotop img {
width: 50%;
padding-top: 50px;
}

.logotop h2 {
  margin-bottom: 60px;
  font-family: 'Noto Serif SC', serif;
  color: white;
  text-transform: uppercase;
}

/* barra navigazione */

.navbar {
list-style-type: none;
text-align: center;
background-color: grey;
}

.barra .navbar li {
  display: inline-block;
  padding: 0 10px;
}

.barra .navbar li a {
line-height: 60px;
font-family: 'Noto Serif SC', serif;
text-transform: uppercase;
color: white;
font-weight: 700;
}

.barra .navbar li:hover {
background-color: brown;
}

/* main */

main ::after{
content: '';
display: table;
clear: both;
}

/* colonna sinistra */

.col {
  float: left;
  border-radius: 2%;
  background-color: white;
  margin-top: 20px;
}

.colsx {
  width: 20%;
  margin-right: 5%;
}

/* colonna centrale */

.colxx {
  width: 50%;
  margin-right: 5%;
}

/* colonna di destra */

.coldx {
  width: 20%;
  float: left;

}

.coldown {
  width: 100%;
  margin-bottom: 5%;

  }

  /* contenuto colonna sx */

  .contenutosxheader {
    content: '';
    display: table;
    clear: both;
    font-family: 'Noto Serif SC', serif;
    }

    .icon {
      float: left;
      width: 20%;
      text-align: center;
      color: orange;
      font-size: 30px;
    }

    .titlesx {
      float: left;
      width: 70%;
      margin-top: 5px;
      color: grey;
      text-align: center;

    }

    .textsx p {
      font-family: 'Noto Serif SC', serif;
      padding: 10px;
    }

    /* contenuto colonna centrale */

    .contenutoxxheader {
      content: '';
      display: table;
      clear: both;
    }

    .headerino {
      float: left;
      width: 100%;
      margin-bottom: 30px;
    }

    .headerino h2 {
      font-family: 'Noto Serif SC', serif;
      color: grey;
      padding: 20px;
    }

    .textxx {
      font-family: 'Noto Serif SC', serif;
      padding: 30px;


    }

    /* contenuto colonna di destra */

    .contenutodx {
      content: '';
      display: table;
      clear: both;
    }

    .headerinodx {
      float: left;
      width: 100%;
      color: grey;
      font-family: 'Noto Serif SC', serif;
      text-align: center;
      padding: 30px;


    }

    .textdx {
      padding: 20px;
      font-family: 'Noto Serif SC', serif;

    }







  /* footer */

  footer::after{
    content: '';
    display: table;
    clear: both;
  }

  .base {
    float: left;
    border-radius: 2%;
    margin-top: 20px;
  }

  .footer{
    width: 100%;
    background-color: white;
  }

  .footertitle {
    width: 95%;
    margin: auto;
  }

  .footertitle p {
    margin-top: 5px;
    margin-bottom: 5px;
    color: grey;
    text-align: center;
  }


  .linkdirect li {
    list-style: none;
  }

  .facebook {
    float: left;
    text-align: center;
    width: 33.333%;
    margin-top: 60px;
    margin-bottom: 60px;
    color: grey;
    font-size: 30px;
  }

  .facebook:hover {
    color: blue;
  }

  .instagram {
    float: left;
    text-align: center;
    width: 33.333%;
    margin-top: 60px;
    margin-bottom: 60px;
    color: grey;
    font-size: 30px;
  }

  .instagram:hover {
    color: purple;
  }

  .twitter {
    float: left;
    text-align: center;
    width: 33.333%;
    margin-top: 60px;
    margin-bottom: 60px;
    color: grey;
    font-size: 30px;
    }

    .twitter:hover {
      color: lightblue;
    }
