/* struttura generale */

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/natural-pattern.png);
}

#contenitore{
  width: 70%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

a {
text-decoration: none;
color: green;
}

/* header */

.logotop {
  background-image: url(../img/natural-header.jpg);
  text-align: center;
  background-size: cover;
  border: 10px solid white;
}

.logotop img {
width: 50%;
padding-top: 50px;
}

.logotop h2 {
  margin-bottom: 60px;
  font-family: 'Noto Serif SC', serif;
  color: white;
  text-transform: uppercase;
}

/* barra navigazione */

.navbar {
list-style-type: none;
text-align: center;
background-color: grey;
}

.barra .navbar li {
  display: inline-block;
  padding: 0 10px;
}

.barra .navbar li a {
line-height: 60px;
font-family: 'Noto Serif SC', serif;
text-transform: uppercase;
color: white;
font-weight: 700;
}

.barra .navbar li:hover {
background-color: brown;
}

/* main */

main ::after{
content: '';
display: table;
clear: both;
}

/* colonna sinistra */

.col {
  float: left;
  border-radius: 2%;
  background-color: white;
  margin-top: 20px;
}

.colsx {
  width: 20%;
  height: 600px;
  margin-right: 5%;
}

/* colonna centrale */

.colxx {
  width: 50%;
  height: 300px;
  margin-right: 5%;
}

/* colonna di destra */

.coldx {
  width: 20%;
  float: left;

}

.coldown {
  width: 100%;
  height: 400px;
  margin-bottom: 5%;

  }

  /* footer */

  footer::after{
    content: '';
    display: table;
    clear: both;
  }

  .base {
    float: left;
    border-radius: 2%;
    margin-top: 20px;
  }

  .footer{
    width: 100%;
    height: 200px;
    background-color: white;

  }
